/_csv_processed/*

/_dl_data/*

/_kabutan_html/*

/_kabutan_mobile_html/*

/_kabutan_csv/*

/_yahoo_csv/*

.ipynb_checkpoints/*

__pycache__/*

.DS_Store
*.log
logging_test.py
logging_test_lib.py
*.pyc
.env






