/_csv_processed/*

/_dl_data/*

/_kabutan_html/*

/_kabutan_mobile_html/*

/_kabutan_csv/*

/_yahoo_csv/*

/.ipynb_checkpoints/*

/scrapy_project/.ipynb_checkpoints/*

/scrapy_project/yahoo_fundamental_*.csv

/__pycache__/*

/_keep/*

/_ahaha_stock/*

/_ahaha_151130/*

/_nemusake_141031/*

.DS_Store
*.log
logging_test.py
logging_test_lib.py
*.pyc
.env






